/* Gaya untuk logo */
body{
    background-color: rgb(222, 231, 222);
    font-family: tahoma;
}
.logo {
    width: 50px;
    height: auto;
    margin-left: 10px;
}
/* styles.css */
.border{
    border-radius: 20px;
}
/* styles.css */
.article-card {
    height: 100%; /* Set a fixed height for all cards */
    box-sizing: border-box;
}
.card-body p {
    line-height: 1;
    margin: 0;
    letter-spacing:normal;
    word-spacing: normal;
}

.card {
    padding: 10px;
}

#nama {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Gaya untuk navbar ketika discroll */
.navbar.scrolled {
    background-color: #f8f9fa; /* Warna latar ketika navbar discroll */
}

/* Gaya untuk kartu artikel */
.article-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Memastikan semua kartu memiliki tinggi yang sama */
}

/* Gaya untuk footer */
.footer {
    background-color: grey;
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    /* Gaya khusus untuk layar kecil (ponsel) */
    .navbar-brand, .footer, .navbar {
        flex-direction: column;
    }
}

/* Apply transition to opacity property for sections */
/* styles.css */

section{
    text-align: justify;
    margin-top: 1px;
}
.about section{
    margin: 0;
}
/* Apply transition to opacity property for sections */
section .konten {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    width: 100px;
    height: 50px;
}

/* Adjust the opacity for visible sections */
section.visible {
    opacity: 1;
}
h1{
    text-align: center;
}
section .lead{
text-align: center;
}

/* artikel bangsa */
section{
    font-family:sans-serif;
    font-size: large;
    margin: 1rem;
    padding: 1rem;
    color: black;
}
.penulis{
    color: rgb(57, 179, 132);
}
.referensi ul li{
    color: rgb(68, 66, 70);
}

.referensi ul li a{
    color: rgb(68, 66, 70);
    text-decoration: none;
}