/* Gaya untuk logo */
body{
    background-color: rgb(252, 255, 252);
    font-family: tahoma;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}
/* styles.css */
.border{
    border-radius: 20px;
}
/* styles.css */
.article-card {
    height: 100%; /* Set a fixed height for all cards */
}
#nama {
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Gaya untuk navbar ketika discroll */
.navbar.scrolled {
    background-color: #f8f9fa; /* Warna latar ketika navbar discroll */
}

/* Gaya untuk kartu artikel */
.article-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Memastikan semua kartu memiliki tinggi yang sama */
}

/* Gaya untuk footer */
.footer {
    background-color: grey;
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    /* Gaya khusus untuk layar kecil (ponsel) */
    .navbar-brand, .footer, .navbar {
        flex-direction: column;
    }
}

/* Apply transition to opacity property for sections */
/* styles.css */

section{
    text-align: justify;
}
/* Apply transition to opacity property for sections */
section .konten {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    width: 100px;
    height: 50px;
}

/* Adjust the opacity for visible sections */
section.visible {
    opacity: 1;
}
h1{
    text-align: center;
}
section .lead{
text-align: center;
}